.vscode/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
.idea/*.pkl
*.db
*.pkl
*.mp4
sparkenv/
*.tsv
*.zip
*.log
*.csv
*.json
*.xml
*.html
*.css
*.js
*.exe
*.dll
*.so
*.dylib
*.bak
*.tmp
*.swp
*.swo
*.swn
chatgpt/
!Analytics-Specializations-and-Applications/coursework-1/final/ASA_BUSI4370_20811152 /customer_segments_ASA_BUSI4370_20811152.csv
*.pdf
*.docx
*.xlsx
*.pptx
!Machine-Learning-and-Predictive-Analytics/BUSI4373_CW/BUSI4373_20811152_2526_supporting_document.pdf
!Machine-Learning-and-Predictive-Analytics/BUSI4373_CW/BUSI4373_20811152_2526.pdf
!Analytics-Specializations-and-Applications/BUSI4370_CW2/final-submission /ASA_BUSI4370_20811152.pdf
!Leading-Big-Data-Business-Projects/BUSI4372_Group5_MoM_2526.pdf
!Leading-Big-Data-Business-Projects/BUSI4372_Group5_2526.pptx
!Leading-Big-Data-Business-Projects/BUSI4372_Group5_2526.mp4
!Leading-Big-Data-Business-Projects/20811152_BUSI4372_2526_8805810_278719743.pdf
!Analytics-Specializations-and-Applications/Group 2_ Customer Analytics.pdf
Machine-Learning-and-Predictive-Analytics/week-1/ML_ Practical 1.pdf
Machine-Learning-and-Predictive-Analytics/Week 11 - Foundation Models and more, plus revision/Prac_Causal_Inference_part_1_\[Solution].ipynb
Machine-Learning-and-Predictive-Analytics/Week 11 - Foundation Models and more, plus revision/Prac_Causal_Inference_part_2_\[Solution].ipynb
Machine-Learning-and-Predictive-Analytics/Week 3 - Optimality and unbalanced class problem. Plus SVMs./Prac_Unbalanced_Classes.ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 4 - Model evaluation and comparison. Plus time series and A:B testing/Evaluation_\[Solution_Part_B_GridSearchCV].ipynb
Machine-Learning-and-Predictive-Analytics/Week 4 - Model evaluation and comparison. Plus time series and A:B testing/Prac_Evaluation_\[Solution_Part_A].ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 4 - Model evaluation and comparison. Plus time series and A:B testing/Prac_Evaluation_\[Solution_Part_B].ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 4 - Model evaluation and comparison. Plus time series and A:B testing/Prac_Evaluation_\[Solution_Part_C].ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 7 - Model understanding. Plus End-to-end ML Part 1./Demo_Model_Understanding_v2.ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 7 - Model understanding. Plus End-to-end ML Part 1./Practical_7_(sklearn_version)_Variable_Importance_&_Feature_Selection_\[Soln].ipynb
Machine-Learning-and-Predictive-Analytics/Week 8 - End-to-end ML Part 2./End2end \[solution].ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 8 - End-to-end ML Part 2./New Notebook 2026-03-13 14_21_58.ipynb
.gitignore
Machine-Learning-and-Predictive-Analytics/Week 9 - Neural Networks/Neural Nets Prac \[soln].ipynb
Machine-Learning-and-Predictive-Analytics/Week 9 - Neural Networks/Neural Nets Prac.ipynb
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/ML_NOTES.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 1.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 2.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 3.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 4.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 5.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 6.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 7.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 8.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 9.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 10.pdf
!Machine-Learning-and-Predictive-Analytics/ML_NOTES/week 11.pdf
Dissertation/resources
!Dissertation/resources/proposal_refs.bib
!Dissertation/resources/BUSI4374_20811152_2526.pdf