.vscode/
.venv/
__pycache__/
*.pyc
.env
.DS_Store
.idea/*.pkl
*.db
*.mp4
sparkenv/
*.tsv
*.zip
*.log
*.csv
*.json
*.xml
*.html
*.css
*.js
*.exe
*.dll
*.so
*.dylib
*.bak
*.tmp
*.swp
*.swo
*.swn
chatgpt/
!Analytics-Specializations-and-Applications/coursework-1/final/ASA_BUSI4370_20811152 /customer_segments_ASA_BUSI4370_20811152.csv